<div class="container text-white ">
    <div class="row">
        <div class="col-sm-6 sidenav">
            <div class="login-main-text fw-bolder fst-italic">
                <h2>Application<br> Login Page</h2>
                <p>Login or Register from here to access.</p>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class="col-sm-6 mt-3">
        <div class="login-form p-4">
          <form >
             <div class="form-group p-2 fw-bolder">
                <label class="mb-2">User Name</label>
                <input type="text" class="form-control" placeholder="User Name">
             </div>
             <div class="form-group p-2 fw-bolder">
                <label class="mb-2">Password</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <div class="p-3">
                <button type="submit" class="btn btn-warning mt-3 d-block mx-auto fw-bold">Login</button>
                <a class="btn btn-secondary mt-3 d-block mx-auto fw-bold" href="http://localhost:4200/register">Register</a>
            </div>
          </form>
        </div>
        </div>
    </div>
</div>